.wrap {
    width: 98.79vw;
    height: 100vh;
}
.header {
    display: flex;
    flex-direction: column;
    background: url(../img/header.jpg) no-repeat;
    background-size: 100% auto;
    padding-top: 10%;
}
.header-text {
    font-family: "OpenSansRegular";
    color: rgba(255, 255, 255, 1);
    font-size: 3.3em;
    text-align: center;
    padding-top: 32%;
    text-transform: uppercase;
}
.header-text span {
    font-family: "OpenSansBold";
}
.call {
    align-self: center;
    width: 27.5%;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 6%;
    padding-bottom: 1%;
}
.call input {
    margin: 10% 10% 5% 7%;
    padding: 3% 0;
    padding-left: 3%;
    width: 80%;
    font-family: "OpenSansRegular";
    color: rgba(147, 142, 142, 1);
}
.call p {
    font-family: "OpenSansRegular";
    text-align: center;
    color: rgba(147, 142, 142, 1);
    font-size: 1.3em;
    margin: 5% 3%;
}
.call button {
    margin: 0 20%;
    padding: 3% 0;
    width: 60%;
    background-color: rgba(34, 125, 211,1);
    font-family: "OpenSansSemiBold";
    font-size: 1.7em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    border: none;
}
.img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 4%;
}
.img img {
    max-width: 20%;
    height: 3em;
}
.block {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    margin-bottom: 5%;
}
.block img {
    max-width: 95px;
    max-height: 121px;
}
.document, .photo {
    display: flex;
}
.document p, .photo p{
    font-family: "OpenSansSemiBold";
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    padding-left: 2%;
}
.document p span, .photo p span {
    font-family: "OpenSansRegular";
    font-size: 0.7em;
    color: rgb(79, 78, 78);
    text-align: left;
}
.section {
    display: flex;
    flex-direction: column;
    background: url(../img/section-background.png) no-repeat;
    background-size: 100% auto;
    width: 98.79vw;
    height: 223.5vh;
}
.sec_1 h1 {
    font-family: "OpenSansRegular";
    font-size: 2.5em;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 20%;
}
.sec_1 p {
    font-family: "OpenSansRegular";
    font-size: 1.1em;
    color: rgb(255, 255, 255);
    text-align: left;
    width: 60%;
    margin: 0 20%;
    padding-top: 3%;
    line-height: 1.5;
}
.sec_2 h1 {
    font-family: "OpenSansRegular";
    font-size: 2.5em;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 25%;
    margin-left: 5%;
}
.sec_2 p {
    font-family: "OpenSansRegular";
    font-size: 1.1em;
    color: rgb(255, 255, 255);
    text-align: left;
    width: 50%;
    margin-left: 40%;
    margin-right: 10%;
    padding-top: 3%;
    line-height: 1.5;
}
.sec_2 button {
    font-family: "OpenSansRegular";
    font-size: 1.3em;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: 40%;
    margin-top: 3%;
    padding: 1% 3%;
    background: none;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 0.8em;
}
.contact {
    background: url(../img/contact.png) no-repeat;
    background-size: 100% auto;
    width: 98.79vw;
    height: 100vh;
    position: relative;
}
.circle{
    position: absolute;
    top: 20%;
    left: 35%;
    width:400px;
    height:400px;
    display:block;
    border-radius:200px;
    -moz-border-radius:200px;
    -webkit-border-radius:200px;
    -khtml-border-radius:200px;
    font-size:20px; color:#fff;
    text-align:center;
    background: rgb(255, 255, 255);
 
}
.circle div {
    margin-top: 20%;
}
.circle div input, .circle div textarea { 
    width: 70%;
    padding: 1% 0;
    padding-left: 3%;
    margin-top: 5%;
    font-family: "OpenSansRegular";
    color: rgba(76, 80, 93, 0.502);
    font-size: 0.8em;
}
.circle div a img{
    margin-top: 4%;
}
.footer {
    width: 100%;
    background-color: rgba(67, 160, 109, 1);
    font-family: "OpenSansRegular";
    color: rgba(255, 255, 255, 1);
    font-size: 1em;
    line-height: 1.571;
    text-align: center;
    padding: 1% 0;
}